// dim keyframes

@keyframes set-dim
  from
    opacity: 0
  to
    opacity: 1

@keyframes unset-dim
  from
    display: block
    opacity: 1
  100%
    display: block
  to
    display: none
    opacity: 0


#menu-toggle:checked ~ aside.left
  left: 0

#sort-toggle:checked ~ aside.right
  right: 0

.dim
  opacity: 0
  animation: unset-dim 200ms

#menu-toggle:checked ~ .dim, #sort-toggle:checked ~ .dim
  width: 100%
  height: 100vh

  display: block

  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

  opacity: 1
  background-color: transparentize(black, 0.7)

  animation: set-dim 200ms

aside
  @extend %card
  width: $aside-width
  max-width: 100%
  height: 100%

  position: fixed
  top: 0
  z-index: 200

  border-radius: 0

  fill: black

  transition: left 200ms ease, right 200ms ease

  .nav-header
    border-bottom: 0.0625rem solid $card-border-color

  &.left
    left: -$aside-width - 1rem

  &.right
    right: -$aside-width - 1rem

    .nav-header
      text-align: right

      .nav-button
        float: none

.nav-header + .aside-menu
  height: calc(100% - #{$nav-height})

.aside-menu
  margin: 0
  padding: 0

  height: 100%
  overflow-y: scroll

  list-style: none

  a
    color: inherit
    text-decoration: none

  li
    height: 3em
    padding: 0.75em 0.75em

    transition: background-color 100ms ease

    .icon
      display: inline-block
      margin: 0 0.75em
      fill: rgba(0, 0, 0, 0.87)

    .label
      @extend %no-select
      display: inline-block
      vertical-align: 0.375em
      margin: 0 0.625em

    &:hover, &.sort.asc, &.sort.desc
      background-color: transparentize(black, 0.9)

    &:active:active
      background-color: transparentize(black, 0.8)

  .menu-title
    font-size: 0.875em
    margin-top: (0.5em / 0.875)
    padding: (1em / 0.875) (1.25em / 0.875)
    color: rgba(0, 0, 0, 0.5)

    border-top: 0.1em solid rgba(0, 0, 0, 0.125)

    &:hover, &:active
      background-color: inherit

  .menu-title + .menu-title
    border-top: none
    margin-top: 0

  .filter

    &:hover, &.sort.asc, &.sort.desc
      background: none

    &:active:active
      background: none
