@charset 'utf-8';
@font-face {
  font-family: SdvxCollection;
  font-weight: 300;
  src: url('/fonts/SdvxCollection.woff');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'AppleSDGothicNeo', '맑은 고딕', 'Malgun Gothic', sans-serif;
  font-weight: lighter;
  width: 50rem;
  min-width: 32rem;
  background: #222;
  color: #eee;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-size: 1em;
}
button {
  font-size: 1em;
  border: none;
  background: transparent;
}
/* public class */
.hidden {
  display: none;
}
li {
  list-style: none;
}
/*   blocks */
.song-title {
  width: calc(100% - 32rem);
}
.pattern {
  display: inline-block;
  vertical-align: top;
  overflow-y: hidden;
}
.albumart {
  width: 5em;
  height: 5em;
}
.pattern .albumart {
  width: 3rem;
  height: 3rem;
}
.upper {
  width: 5rem;
  height: 3rem;
  display: inline-block;
}
.middle {
  font-size: 0.75em;
  height: 0rem;
  line-height: 2rem;
  text-align: center;
  overflow-y: hidden;
  transition: height 100ms;
}
.middle > span {
  text-align: center;
}
.pattern:hover > .middle {
  height: 2rem;
}
.lower {
  height: 2rem;
  line-height: 2rem;
}
.song-level {
  width: 2.5rem;
  height: 3rem;
  font-size: 1.75em;
  -webkit-clip-path: polygon(0 0, 100% 0, 66.666666% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 66.666666% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.125);
  text-align: center;
  float: left;
}
.song-rank {
  width: 3rem;
  height: 3rem;
  margin-left: -0.5rem;
  font-size: 1.75em;
  text-align: center;
  float: left;
  overflow: hidden;
}
.song-clear {
  display: inline-block;
  width: 1.5rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}
.pattern .song-clear {
  margin: 0.375rem 0 0 0.75rem;
  float: left;
}
.song-score {
  font-family: SdvxCollection;
  letter-spacing: 0ex;
  padding-right: 0.5em;
  float: right;
}
.song-score > span, td > span {
  font-size: 0.875em;
}
/* The Great Media Queries! */
/*   Initial width of body (800px) */
@media (max-width: 800px) {
  body {
    width: 100%;
  }
  header, nav, main {
    width: 100%;
  }
  .song-column {
    height: 8.75em;
  }
  .song-title {
    width: 100%;
    padding-bottom: 0.5em;
  }
}
/*   width where navigation break */
@media (max-width: 730px) {
  nav {
    height: 6em;
  }
  nav.fixed ~ main {
    margin-top: 7.5em;
  }
  .nav-heading {
    width: 100%;
  }
}

/*   width where 4 .pattern is bigger then window width; black magic appears */
@media (max-width: 512px) {
  html {
    font-size: calc(100vw / 32);
  }
}