@import 'definition'

#header-toggle:checked + header
  height: $header-title-height + $header-detail-height

header
  color: white

  width: 100%
  height: $header-title-height
  transition: height 250ms ease-out

  position: fixed
  top: 0

  z-index: 1100

  div
    transition: height 250ms ease-out

  section
    width: 100%
    transform: translate3d(0, 0, 0)

  section.title
    @extend %card

    width: 100vw
    height: 3.625rem
    background: #37474F

    margin: 0 auto
    padding: 0.5rem

    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 1001

    .left
      float: left

      .skill-level
        display: inline-block

        width: 9.375em
        height: 2.625em

        background-size: 100%
        vertical-align: top

        .skill-level-title
          display: inline-block

          font-size: 1.25em
          font-weight: 900
          text-align: center

          width: 100%

          padding: 0.333333em 0.75em 0 2.25em

      h1
        display: inline-block

        font-weight: 400

        margin: 0
        margin-left: 0.5rem
        vertical-align: -50%

    .right
      height: 100%

      float: right

      padding: 0.625em
      vertical-align: 75%

      dl
        display: inline-block
        width: 18em
        height: 100%

        line-height: 1.25rem
        text-align: right

        margin: 0
        vertical-align: 75%

        dd
          display: inline-block

          font-size: 0.875em
          font-weight: lighter
          color: transparentize(white, 0.25)
          margin: 0
          padding: 0

        dt
          display: inline-block

          margin-right: 0.75rem

  section.detail
    @extend %card
    width: $header-sort-width
    max-width: 100vw
    max-height: calc(100vh - #{$header-title-height})

    background: #263238

    padding: 0.5em 0.5em 1em 0.5em

    position: absolute
    right: 0
    bottom: 0
    z-index: 1000

    label
      width: 100%
      height: 1em

      position: absolute
      bottom: 0
      left: 0
      right: 0
      text-align: center

main
  margin-top: 5em
