@import 'import-once'

@import 'component'
@import 'nav'
@import 'aside'
@import 'header'
@import 'element'
@import 'definition'
@import 'style-by-value'

@import 'reset'

body
  width: 100%

  font-family: Roboto, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'AppleSDGothicNeo', '맑은 고딕', 'Malgun Gothic', sans-serif

  margin: 0 auto 1em 0
  overflow-x: hidden

.hidden
  display: none

.icon
  @extend %no-select
  display: inline-block
