@import 'definition'

@import 'component'
@import 'nav'
@import 'aside'
@import 'header'
@import 'footer'
@import 'element'
@import 'style-by-value'

@import 'control'

@import 'mobile'
@import 'reset'

body
  width: 100%

  font-family: Roboto, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', sans-serif

  margin: 0 auto 1em 0
  overflow-x: hidden

.hidden
  display: none

.icon
  @extend %no-select
  display: inline-block

main
  @extend .width-container
  position: relative

.content
  @extend %card
  min-height: 9em
  padding: 0.5em 1em

  ol.list, ul.list
    line-height: 2em

  pre
    width: calc(100% - 2em)

    margin: 1.5em
    padding: 1em
    background: transparentize(black, 0.8)
    white-space: normal
    word-break: break-all

  h2
    font-weight: 500

.plugin-content
  text-align: center

.text-center
  text-align: center

.text-muted
  opacity: 0.25

.caret
  width: 0
  height: 0
  border-style: solid
  border-width: 5px 5px 0 5px
  border-color: black transparent transparent transparent
