// normal
@media (max-width: #{$header-left-width + $header-right-min-width + 1em})

  header

    .profile
      width: 100%
      margin-right: 0
      margin-bottom: 1em

    &> .stat.stat
      width: 100%
      min-width: 100%

    .profile ~ .profile
      margin-right: 0

// vs
@media (max-width: #{$header-left-width * 2 + $header-vs-min-width + 2em})

  header.vs

    .profile
      width: calc(50% - 0.5em)
      margin-right: 1em
      margin-bottom: 1em

    &> .stat.stat
      width: 100%
      min-width: 100%

    .profile ~ .profile
      margin-right: 0

@media (max-width: 32rem)

  header

    .profile.profile
      width: 100%
      margin-right: 0

@media (max-width: 28rem)
  main
    font-size: calc(100vw / 28)

@media (max-width: 24rem)
  html
    font-size: calc(100vw / 24)
