@import 'definition'

.nav-header
  height: $nav-height

  padding: 0.625em

  .title
    display: inline-block

    vertical-align: 33.333333%
    font-weight: 700

    margin-left: 0.5em
    margin-right: 0.5em

nav
  @extend .nav-header
  width: 100%

  color: white
  fill: white
  background: $header-background

  position: fixed
  top: 0

.nav-button
  @extend %no-select
  display: inline-block
  height: 100%

  padding: 0.5em 0.625em
  border: 0.0625em solid transparent
  border-radius: 0.125em

  transition: background 200ms ease, border-color 100ms ease

  &:hover
    background: transparentize(black, 0.9)
    border: 0.0625em solid transparentize(black, 0.7)

  &:active
    background: transparentize(black, 0.7)

  &.right
    float: right
