$level-color: lighten(blue, 0.5), lighten(yellow, 0.5), lighten(red, 0.5), lighten(cyan, 0.5), lighten(orange, 0.5), lighten(gray, 0.5)
$level-name: nov, adv, exh, inf, grv, mxm

// blue gray 700, 600, 500, blue 600, 700, light green 600, 700, amber 300, 600, 800
$rank-color: #37474f, #455a64, #546e7a, #1e88e5, #1976d2, #7cb342, #689f38, #ffd54f, #ffb300, #ff8f00
$clear-color: #666, #4ba, #a0d, #f48, #ff3

.song
  @for $i from 0 to 6
    &.#{nth($level-name, $i + 1)}
      .level
        background: transparentize(nth($level-color, $i + 1), 0.5)

        .unskew::before
          content: '#{nth($level-name, $i + 1)}'

.rank
  @for $i from 0 to 10
    &.rank-#{$i}
      background: transparentize(nth($rank-color, $i + 1), 0.25)

.clear
  @for $i from 0 through 4
    &.clear-#{$i}
      border-color: nth($clear-color, $i + 1)
      color: nth($clear-color, $i + 1)

/*   skill level */
.class

  background: #222

  &[data-skill-level='1']
    background: #3E2723 // brown 900

  &[data-skill-level='2']
    background: #303F9F // indigo 700

  &[data-skill-level='3']
    background: #F9A825 // yellow 800

  &[data-skill-level='4']
    background: #B0BEC5 // blue gray 200

  &[data-skill-level='5']
    background: #039BE5 // light blue 600

  &[data-skill-level='6']
    background: #4DB6AC // teal 300

  &[data-skill-level='7']
    background: #EC407A // pink 400

  &[data-skill-level='8']
    color: black
    background: #F48FB1 // pink 200

  &[data-skill-level='9']
    color: black
    background: #EEEEEE // grey 200

  &[data-skill-level='10']
    color: black
    background: #FBC02D // yellow 700

  &[data-skill-level='11']
    color: #ff3
    background: #F4511E // deep orange 600

  &[data-skill-level='12']
    color: #ff3
    background: #5E35B1 // deep purple 600

// segment

.segment.clear-0, .segment.clear-2, .segment.clear-3,
.segment.rank-0, .segment.rank-1, .segment.vs-0, .segment.vs-2
  color: white

@for $i from 0 through 4
  .segment.clear-#{$i}
    background: nth($clear-color, $i + 1)

  .summary.clear-#{$i}
    border-color: nth($clear-color, $i + 1)

.segment.rank-0
  background: nth($rank-color, 3)
.summary.rank-0
  border-color: nth($rank-color, 3)

.segment.rank-1
  background: nth($rank-color, 5)
.summary.rank-1
  border-color: nth($rank-color, 5)

@for $i from 5 through 9
  .segment.rank-#{$i - 3}
    background: nth($rank-color, $i + 1)

  .summary.rank-#{$i - 3}
    border-color: nth($rank-color, $i + 1)

.legacy
  @each $i in 0, 1, 2, 4, 6, 8, 9
    .segment.rank-#{$i}
      background: nth($rank-color, $i + 1)

    .summary.rank-#{$i}
      border-color: nth($rank-color, $i + 1)

.segment, .summary
  &.vs-0
    background: #2196F3 // blue 500

  &.vs-1
    background: #607D8B // blue grey 500

  &.vs-2
    background: #FF5722 // deep orange 500
