.song

  &.nov
    .level
      background: transparentize($color-nov, 0.5)

  &.adv
    .level
      background: transparentize($color-adv, 0.5)

  &.exh
    .level
      background: transparentize($color-exh, 0.5)

  &.inf
    .level
      background: transparentize($color-inf, 0.5)

  &.grv
    .level
      background: transparentize($color-grv, 0.5)

.rank

  &.rank-0, &.rank-1, &.rank-2
    background: transparentize(black, 0.75)

  &.rank-3, &.rank-4, &.rank-5
    background: transparentize(yellow, 0.75)

.clear

  &.clear-0
    border-color: #888
    color: #888

  &.clear-1
    border-color: darken(#0da, 0.5)
    color: #0da

  &.clear-2
    border-color: #a0d
    color: #a0d

  &.clear-3
    border-color: #f48
    color: #f48

  &.clear-4
    border-color: #ff3
    color: #ff3

/*   skill level */
.skill-level
  color: rgba(0, 0, 0, 0.75)
  background-image: url('http://cdn.azu.kr/sdvx/skill/skill_nolv.gif')

  @for $i from 0 through 9
    &[data-skill-level='#{$i}']
      background-image: url('http://cdn.azu.kr/sdvx/skill/skill_0#{$i}.gif')

  &[data-skill-level='10']
    background-image: url('http://cdn.azu.kr/sdvx/skill/skill_10.gif')

  &[data-skill-level='11']
    background-image: url('http://cdn.azu.kr/sdvx/skill/skill_11.gif')
    color: rgba(255, 255, 51, 0.75)

  &[data-skill-level='12']
    background-image: url('http://cdn.azu.kr/sdvx/skill/skill_inf.gif')
    color: #ff3
