<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      <%- 'title' in global? title : 'μ•„μ¦μΈν¬' %>
    </title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/!/public/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700" />
    <% if(typeof css === 'object' && css instanceof Array) { %>
      <% for(var i in css) { %>
        <link rel="stylesheet" href="<%- css[i] %>" />
      <% } %>
    <% } %>
    <% if(typeof js === 'object' && js instanceof Array) { %>
      <% for(var i in js) { %>
        <script src="<%- css[i] %>"> </script>
      <% } %>
    <% } %>
    <% if(typeof baseuri === 'string') { %>
      <script>
window.BaseURI = '<%- baseuri %>'
      </script>
    <% } %>
  </head>
  <body>
    <% if(left) { %>
      <input type="radio" name="aside" id="menu-toggle" class="hidden" />
    <% } %>
    <% if(right) { %>
      <input type="radio" name="aside" id="sort-toggle" class="hidden" />
    <% } %>
    <% if(left || right) { %>
      <input type="radio" name="aside" id="reset" class="hidden" />
    <% } %>
    <div class="toolbar-decorator"> </div>
