<nav>
  <% if(!(locals.noHamburger && noHamburger)) { %>
    <label for="menu-toggle" class="nav-button">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </label><%
  }
%><span class="title">
    아즈인포
  </span>
  <span class="title-mobile">
    <%= typeof subtitle === 'string'? subtitle : '아즈인포' %>
  </span>
</nav>
<label for="reset" class="dim"> </label>
