<%- include('../partial/header', {
  left: true,
  right: true,
  title: '아즈인포 - 제어판',
  baseuri: typeof baseuri === 'string' && baseuri
}) %>
<header>
  <h1> 제어판 </h1>
</header>
<main>
  <div class="card-container">
    <h2> 갱신 기록 <h2>
      
  </div>
</main>
<%- include('../partial/nav', {
  left: true,
  right: false
}) %>
<%- include('../partial/footer') %>
